* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

body {
  background: var(--body-bg-color);
  font-family: 'Roboto', sans-serif;
  padding: 3rem;


 
}

.container {
  color: var(--text-color);
  display: grid;
  height: 90vh;
  width: 100%;
  grid-template-areas: 
  "aside  main main main main"
  }

aside {
  /* background-color: burlywood; */
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}



.box1{
  background: var(--bg-cards);
  width: 90%;
  height: 30%;

  border-radius: 1rem;
  padding: 2rem;
 
}

.box2{

  background: var(--bg-cards);
  width: 90%;
  height: 40%;
  border-radius: 1rem;
  padding: 2rem;
}

.box3{

  background: var(--bg-cards);
  width: 90%;
  height: 20%;
  border-radius: 1rem;
  padding: 2rem;
}

main {

  grid-area: main;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  
}


.box4{
  width: 100%;
  height: 10%;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--bg-cards);

}

.cursos{
  display:grid;
  background: var(--body-bg-color);
  grid-template-columns: 1fr 1fr;
  height: 25%;
  margin-top: 1rem;  
  gap:1rem;
  border-radius: 1rem;

}

.box5{
  display: flex;
  border-radius: 1rem;
  background: var(--bg-cards);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;



}

.box6{
  display: flex;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background: var(--bg-cards);
}

.box7{

  height: 10%;
 border-radius: 1rem;
 padding: 2rem;
 margin-top: 1rem;
 background: var(--bg-cards);
}
.box8{

  margin-top: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  height: 25%;

  background: var(--bg-cards);
}
